* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* SECTION: calculator */

#calc-section {
  height: calc(257px + 100px + (4px * 3));
  width: 216px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* SECTION: calc display */

#initial-result {
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: darkgray;
}

#result {
  height: 60px;
  width: 200px;
  text-align: center;
}

/* SECTION: calc buttons */

#calc-btn {
  /* calc buttons (all buttons including clear) */
  /* total height: 257px */
  /* total width: 216px */
  height: calc(245px + (4px * 3));
  width: calc(151px + 53px + (4px * 3));
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

#num {
  /* num buttons */
  /* total height: 200px */
  /* total width: 151px */
  height: calc((45px * 4) + (4px * 5));
  width: calc((45px * 3) + (4px * 4));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#func {
  /* func buttons */
  /* total height: 200px */
  /* total width: 53px */
  height: calc((45px * 4) + (4px * 5));
  width: calc(45px + 8px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#num > button {
  background-color: white;
}

#func > button {
  background-color: rgb(202, 219, 255);
}

button {
  height: 45px;
  width: 45px;
}

#clear-btn {
  height: 45px;
  width: 200px;
  background-color: rgb(255, 80, 80);
}
